.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.activePage {
    color: red;
  }

.pageButton{
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    color: rgb(97, 7, 156);
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pageButton:hover {
    background-color: #110101;
    color: aliceblue;
  }



.button-action{
    height: 40px;
    width: 5%;
    border-radius: 5px;
    border: 1px dotted black;
    cursor: pointer;

}

.button-action:hover{
    background-color: #110101;
    color: aliceblue;
}