.mains-container{
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  background-color: #7a00ff;
  padding-top: 40px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: #7a00ff;
}

.userdata-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-contianers{
    width: 75px;
    height: 55px;
}

.boc-container{
  height: 100px;
  width: 200px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  font-weight: bold;
  font-size: 25px;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #ffffff 0px 5px 15px;
}
.para{
    color: aliceblue;
    font-size: 15px;
}
.label-caption{
    font-size: 15px;
    margin: 2px;
}