.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
    padding: 5px;
    color: rgb(248, 245, 245);
    background-color: black;
    margin: 0;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
    
}
li{
    padding: 10px;
    color: azure;
    margin-right: 20px;
    
}
.home{
    text-decoration: none;
    color: aliceblue;
}