.pagecontianer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.post-contianer{
  padding: 5px;
  border: 2px;
  color: black;
  border-style: dotted;
  margin: 5px;
}
.pagemidcon{
  border: 1px;
  border-color: black;
  border-style: dashed;
  padding: 5px;
  margin: 5px;
}


.pagemidcon:active{
  background-color: blue;
}