.post-container{
  border: 1px dotted black;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.loading-spinner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}
h1{
  margin: 5px;
}